@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
/**
 * Global styles
**/
body {
  background-color: #F0F0F0;
  font-family: Roboto;
  color: #373A3C;

  margin: 0;
}

/**
 * Button styles
**/
.button {
  width: 285px;
  height: 76px;
  border: none;
  border-radius: 20px;
  background-color: #4D4D4D;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 3px 7px 4px rgba(0,0,0,0.5);
}

.success.button:hover {
  background-color: #13450D;
}

.success.button:active {
  background-color: #299C1F;
}

.error.button:hover {
  background-color: #D9534F;
}

.error.button:active {
  background-color: #FF0900;
}

.small.button {
  width: 252px;
  height: 61px;

  font-size: 24px;
  font-weight: 100;
}

/**
 * Textfield styles
**/
input:focus {
  outline: none;
}

.text_field {
  width: 427px;
  height: 47px;
  background-color: #F5F5F5;
  margin-top: 6px;
  padding: 0 17px 0 17px;

  border: 1px solid #979797;
  border-radius: 11px;

  font-size: 20px;
  font-weight: 100;
}

/**
 * Notification styles
**/
#notification_container {
  position: absolute;
  width: 100%;
  height: 95px;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#notification {
  width: 886px;
  height: 95px;
  z-index: 10;

  border: 1px solid #E8E8E8;
  border-radius: 0 0 100px 100px;

  font-size: 24px;
  font-weight: 100;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: 0.3s ease-out 0s 1 slideInFromTop;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

#notification.error {
  background-color: #D9534F;
}

#notification.warning {
  background-color: #F0AD4E;
}

#notification.info {
  background-color: #5BC0DE;
}

#notification.success {
  background-color: #5CB85C;
}

/**
 * Login styles
**/
.login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #E8E8E8;
  width: 744px;
  height: 569px;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username_container {
  margin: 80px 0 40px 0;
}
.password_container {
  margin-top: 40px;
}

.text {
  font-size: 36px;
  font-weight: 100;
  margin: 0;
}

.login_button.button {
  margin-top: 86px;
}

/**
 * Navbar styles
**/
.navbar {
  width: 100%;
  border-bottom: 1px solid #979797;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link_group {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 50px
}

.nav_element {
  font-size: 24px;
  height: 65px;
  margin-right: 55px;
  padding-top: 44px;
  border-bottom: 5px solid #4D4D4D;
}

.clickable.nav_element {
  border-bottom: 5px solid rgba(0,0,0,0);
  cursor: pointer;
}

.clickable.nav_element:hover {
  border-bottom: 3px solid #A8A8A8;
}

.nav_element.logout {
  color: #D9534F;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.clickable.nav_element.logout:hover {
  border-bottom: 3px solid #D98784;
}

/**
 * Photos styles
**/
.menu_bar {
  display: flex;
  justify-content: space-around;

  margin: 41px 0 36px 0;
}

.filter.button {
  background-color: rgba(0,0,0,0);
  border: 3px solid #4D4D4D;
  color: rgba(77,77,77,0.6);
  font-weight: 400;
  justify-content: space-between;
}

.filter.button:active {
  background-color: #A8A8A8;
}

.filter.dropdown {
  width: 23px;
  height: 61px;
  right: 0;

  background-color: #4D4D4D;
  border-radius: 0 13px 13px 0;
}

.center {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.images {
  margin: 0 5% 0 5%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 36px 25px 0 25px;
}

.image {
  width: 252px;
  height: auto;

  border-radius: 10px;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.image:hover {
  box-shadow: 0 2px 19px 8px rgba(0,0,0,0.5);
}

.card>.footer {
  position: relative;
  width: 100%;
  margin-top: 15px;
}

.footer>.checkbox {
  position: absolute;
  top: 7px;
  left: 0;
  font-size: 26px;
  cursor: pointer;

  width: 29px;
  height: 29px;

  border: 3px solid #4D4D4D;
  border-radius: 6px;

  text-align: center;
  line-height: 33px;
}

.title {
  font-size: 24px;
  color: #4D4D4D;
  text-align: center;
}

.date {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

/**
 * Categories styles
**/
.category {
  background-color: #4D4D4D;
  height: 252px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  color: #fff;
}

/**
 * Compare styles
**/
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-top: 50px;
}

.nav_arrow {
  font-size: 144px;
  color: #4D4D4D;
  cursor: pointer;
}

.big_image {
  width: 542px;
  height: auto;
}

.info{
  padding: 0;
}

.info_row {
  font-size: 24px;
  font-weight: 100;

  margin-bottom: 13px;
}

.info>ul {
  padding: 0;
  list-style-type: none;

  font-size: 24px;
  font-weight: 300;

  margin: 0 0 13px 0;
}

.info>ul>li {
  font-weight: 100;
}
